body {
    margin: 0;
    font-family: sans-serif;
}


.class1{float:left;}

.form {
    padding: 12px;
    width: 50%;
    float:left
    bottom-padding:100px;
}
.form-sub {
    padding-top: 12px;
}

#map {
  width: 960px;
  height: 500px;
  margin: auto;
  margin-left:230px;
  position: fixed;
  bottom: 0;
  right: 0;
}

.tablecss{
	float:left;
	text-align: center
	background;"#d3d3d3"
	height:120px;
	margin-top:120px;
}

.button1 {
	width: 250px;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    float:left;
    text-align:center;
} 

.button2 {
	width: 250px;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    text-align:center;
} 


.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.legend2 {
    line-height: 18px;
    color: #555;
}

.legend2 i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;   
}

.info {
    padding: 6px 8px;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}
