@import "https://fonts.googleapis.com/css?family=Source Sans Pro:500,300,100";
* {
  font-family: "Source Sans Pro", Arial, sans-serif;
  letter-spacing: 1px;
}

body {
  font-size: 1rem;
  background-color: #fgfgfg;
  text-align: center;
}

h1 {
  font-weight: 300;
  color: #666;
}

h2 {
  font-weight: 50;
  color: #666;
  font-size: 20px;
  margin: 30px 140px 30px 140px;
  text-align: justify;
}

h3 {
  color: #bbb;
  margin: 10px 180px 10px 180px;
  font-size: 15px;
  text-align: justify;
}

.buttons-wrapper {
  max-width: 750px;
  background: #f5f5f5;
  border: 1px solid grey;
  margin: 0 auto;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

button {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  color: white;
  height: 35px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.24);
  padding-left: 10px;
  padding-right: 18px;
  margin: 3px 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
button.home {
  background-color: #285760;
}
button.distribution {
  background-color: #92bd3b;
}
button.data {
  background-color: #3778bc;
}
button.us {
  background-color: #3EA0B7;
}
button.ml {
  background-color: #007d47;
}
button.mining {
  background-color: #A6ACAF;
}
button:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
}
button:focus {
  outline: 0;
  -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.48);
          box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.48);
}
button span.icon {
  color: #bababa;
  margin-right: 10px;
  font-size: 22px;
  font-weight: 100;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
button span.text {
  font-size: 14px;
  font-weight: 500;
}
button[aria-pressed="false"] {
  background: transparent;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  border: 0;
  color: #a5a5a5;
}
button[aria-pressed="false"] span.icon {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

