/* HEADER NAVIGATION */
#body{
	width:100%;
	height:100%;
}

#header {
	padding: 0; margin: 0;
	background-color: #d32323;
	color: white;
	top: 0;
	position: fixed;
	height: 50px;
	vertical-align: middle;
  overflow: scroll;
  white-space: nowrap;
	width: 100%;
	z-index: 9999;
}

#header #TitleHead {
	padding: 10px 20px 0px 10px;
	margin: 0;
	vertical-align: middle;
	float: left;
}

#header #links {
	float: right;
  color: #0073bb;
	overflow: scroll
}

#header a {
	display: block;
	float: left;
	color: white;
	height: 100%;
	padding: 15px;
}

#header a.active {
	background-color: #0073bb;
	color: white;
}

#description {
	overflow-y: scroll;
	height: 2000px;
	width: 100%;
	margin: 50px 180px 0px 180px;
  font-size: 15px;
  text-align: justify;
	padding-top: 100px;
	overflow: scroll;
	position: relative;
}

#description #BodyText{
	width:75%;
}

#Viz2 {
	width: 750px;
	height: 1200px;
}
